<style>
  /* Add a style block for custom CSS */
  .card-content {
    text-decoration: none; /* Remove text underline for all card content */
  }

  /* Style for the card */
  .custom-card {
    width: 150px; /* Set a specific width for the card */
    overflow: hidden; /* Hide any content that exceeds the card dimensions */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75); /* Example shadow values */
  }

  /* Style for the image inside the card */
  .card-img {
    width: 100%; /* Set width to 100% to match card width */
    height: auto; /* Allow height to adjust automatically */
  }

  /* Style for card title and text */
  .card-title,
  .card-text {
    font-size: 14px; /* Adjust font size as needed */
  }
</style>
<%= link_to "Add New Item", new_item_path, class: "btn btn-danger m-3" %>

<div class="container">
		<div class="row mt-4">
		    <% if @items.present? %>
		      <% @items.each do |item| %>
		        <div class="col-md-2 mb-4">
		            <div class="card custom-card card-content" style="width:200px;"> <!-- Apply the class to the card -->
		            	<%= link_to item_path(item) do %>
		              <div style="height:225px;" class="background-image" >
		              	
		              </div>
		              <% end %>
		              <div style="height:200px;" class="card-body">
		                <h5 class="card-title"><%= item.title %></h5>
		                <p class="card-text"><strong>Description:</strong> <%= item.description %></p>
		                <p class="card-text"><strong>Price:</strong> <%= number_to_currency(item.price) %></p>
		                <hr>
		                <div class="d-flex justify-content-center">
		                	<input type="text" style="width:30px;" class="m-2" placeholder="$5">
		                  <%= link_to "BID", item_path(item), class: "m-2 w-100 btn btn-danger" %>
		              </div>
		            </div>
		            </div>
		        </div>
		      <% end %>
		    <% end %>
		  </div>
</div>

<style type="text/css">
	.background-image{
		      background-image: url('https://res.cloudinary.com/diopgwo4d/image/upload/c_fill/1esi2btncnfry8yxsdibf1fmce00');
    background-size: cover; /* Scale and crop the background image */
    background-repeat: no-repeat;
        background-position: center center; /* Center the image */

  }
</style>

